/* RESET*/
* {margin: 0;padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
nav, ul {list-style: none;}
a {text-decoration: none; cursor: pointer; opacity: 0.9;}
a:hover {opacity: 1;}

header { width: 100%;
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    }
header h1 {display: flex; justify-content: center;}